body{
	text-align: center;
	background-color: #FFF3EA;
	background-image: url("/img/baker_cat.jpg"), url("/img/baker_cat.jpg");
	background-size: 1078px 606px;
	background-repeat: no-repeat;
	background-position: right 470px top 270px, left 500px top 270px;
	color: #776E65;
}

h1{
	font-size: 50px;
}

.container{
	max-width: 800px;
}

.line{
	position: absolute;
	height: 40px;
	width: 0;
	bottom: 345px;
}

.kitten-container{
	visibility: hidden;
}

.yellow-background{
	background-color: #FEEFC4;
}

.brown-border{
	border: 1px solid #E3C392;	
}

#shown{
	position: absolute;
}

#start-button{
	position: absolute;
	top: 50%;
	left: 359px;
	border-radius: 25px;
}

#game-area{
	position: relative;
	height: 300px;
	margin-top: 50px;
}

#proud-box{
	position: absolute;
	height: 90px;
	width: 140px;
	left: 40px;
	bottom: 400px;
	font-size: 2em;
}

#line-1{
	left: 100px;
}

#sad-box{
	position: absolute;
	height: 50px;
	width: 140px;
	right: 40px;
	bottom: 400px;
	font-size: 2em;
}

#line-2{
	right: 110px;
}