body{
	text-align: center;
	background-color: #FFF3EA;
	background-image: url("/img/baker_cat.jpg"), url("/img/baker_cat.jpg");
	background-size: 1078px 606px;
	background-repeat: no-repeat;
	background-position: right 470px top 270px, left 500px top 270px;
	color: #776E65;
}

h1{
	font-size: 50px;
}

.container{
	max-width: 800px;
}

#shown{
	position: absolute;
	color: #776E65;
}

#start-button{
	position: absolute;
	top: 50%;
	left: 359px;
	border-radius: 25px;
}

#game-area{
	height: 300px;
	border: 1px solid #E3C392;
	position: relative;
	margin-top: 50px;
	background-color: #FEEFC4;
}

