body{
	text-align: center;
}

.container{
	max-width: 800px;
}

.box{
	border: 1px solid #e0e0e0;
	height: 100px;
}

#gameboard{
	opacity: 0.4;
}

#start-button{
	position: absolute;
	top: 320px;
	left: 575px;
	border-radius: 25px;
}